{{define "subject"}} Welcome to Greenlight{{end}}

{{define "plainBody"}}
Hi, 

Please send a request to `PUT /v1/users/password` endpoint with the following JSON body to reset your password.

{"token" : "{{.resetToken}}"}

Thanks,
Greenlight Team
{{end}}

{{define "htmlBody"}}
<!doctype html>

<html>
    <head>
        <meta name = "viewport" content = "width-device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    
    <body>
        <p>Hi,</p>
        <p>Thanks for signing up.</p>
            <p> Please send a request to <code>PUT /v1/users/password</code> endpoint with the following JSON body to reset your password:
            </p>
        <pre><code>
        {"token" : "{{.resetToken}}"}
        </code></pre>
        <p>Thanks,</p>
        <p>Greenlight Team</p>
    </body>
</html>
{{end}}