{{define "subject"}} Welcome to Greenlight{{end}}

{{define "plainBody"}}
Hi, 

Thanks for signing up.

Your Id number is {{.Id}}

Please send a request to `PUT /v1/users/activated` endpoint with the following JSON body to activate your account.

{"token" : "{{.activationToken}}"}

Thanks,
Greenlight Team
{{end}}

{{define "htmlBody"}}
<!doctype html>

<html>
    <head>
        <meta name = "viewport" content = "width-device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    
    <body>
        <p>Hi,</p>
        <p>Thanks for signing up.</p>
        <p>Your Id number is {{.Id}}</p>
            <p> Please send a request to <code>PUT /v1/users/activated</code> endpoint with the following JSON body to activate your account:
            </p>
        <pre><code>
        {"token" : "{{.activationToken}}"}
        </code></pre>
        <p>Thanks,</p>
        <p>Greenlight Team</p>
    </body>
</html>
{{end}}